## IDEs ###
*.sublime-workspace
.tag*
.tern-project

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific
.out/
build/
node_modules/
dist/
dist-es/
gumgum-common-js-*.tgz
gumdrops-*.tgz
yarn-error.log
